<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Swagger API Reference - Scalar</title>
		<link rel="icon" type="image/svg+xml" href="https://docs.scalar.com/favicon.svg" />
		<link rel="icon" type="image/png" href="https://docs.scalar.com/favicon.png" />
	</head>
	<body>
		<script id="api-reference" data-url="{{.SwaggerPath}}"></script>
		<script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
	</body>
</html>
